.container {
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	background-color: #000;
	overflow: hidden;
}
.ig {
	float:left;
	margin: 0 5px 5px 0;
}

.ig > img {
	width: 100%;
}

.ig > video {
	width: 100%;
}

h2 {
	font-family: SalvoSerif;
}

.avatar {
	width: 22px !important;
	z-index: 100;
	margin: -28px 0 0 6px;
	opacity: 0.6;
	-webkit-filter: grayscale(100%);
}

.username {
	background-color: red;
	width: 50px;
	color: #fff;
	font-size: 12px;
	z-index: 100;
	text-align: right;
}

.username > p {
}

.info {
	color: #fff;
	font-size: 30px;
	float: right;
	margin: -40px 20px 0 0;
}